dist/
build/
private/
ASStore-war/build/
ASStore-war/dist/
ASStore-war/nbproject/private
ASStore-ejb/build/
ASStore-ejb/dist/
ASStore-ejb/nbproject/private
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
ASStore-war/src/java/controllers/products.java
